title = "home"
url = "/"
layout = "default"
is_hidden = 0
==
{% if this.theme.intro_enabled %}
    {% partial 'sections/intro' %}
{% endif %}

{% if this.theme.download_enabled %}
{% partial 'sections/download' %}
{% endif %}

{% if this.theme.menu_enabled %}
{% partial 'sections/menu' %}
{% endif %}

{% if this.theme.gallery_enabled %}
{% partial 'sections/gallery' %}
{% endif %}

{% if this.theme.reviews_enabled %}
{% partial 'sections/reviews' %}
{% endif %}

{% if this.theme.instagram_enabled %}
{% partial 'sections/instagram' %}
{% endif %}

{% if this.theme.booking_enabled %}
{% partial 'sections/booking' %}
{% endif %}