description = "Default layout"
==
<!DOCTYPE html>
<html lang="{{ this.theme.site_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ this.page.description }}">

    <title>{% if this.page.title %}{{ this.page.title}} &#124; {% endif %}{{ this.theme.site_title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ 'assets/vendor/bootstrap/css/bootstrap.min.css' | theme }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">


    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ 'assets/vendor/font-awesome/css/font-awesome.min.css' | theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/simple-line-icons/css/simple-line-icons.css' | theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/device-mockups/device-mockups.min.css' | theme }}">

    <!-- Theme CSS -->
    <link href="{{ 'assets/css/bootstrap.css' | theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/jquery.fullpage.css' | theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/app.css' | theme }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

</head>

<body >
<div id="page-top">

    {% page %}
    {% partial 'modules/footer' %}
</div>
<script src="{{ 'assets/vendor/jquery/jquery.min.js' | theme }}"></script>
<script src="{{ 'assets/vendor/bootstrap/js/bootstrap.min.js' | theme }}"></script>
<script src="{{ 'assets/js/jquery.easing.min.js' | theme }}"></script>

<script src="{{ 'assets/js/jquery.fullpage.min.js' | theme }}"></script>
<script src="{{ 'assets/js/headhesive.min.js' | theme }}"></script>

<script src="{{ 'assets/js/jquery.scrollify.min.js' | theme }}"></script>
<script src="{{ 'assets/js/new-age.min.js' | theme }}"></script>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->

</body>
</html>