<footer>
    <!-- <div class="container">
        <div class="row">
            <div class="col-sm-6 footer_left">
                <div class="col-sm-8 col-sm-offset-2">
                    <p>OPENING TIMES</p>
                    <div>
                        <div class=" col-sm-9">Mon - Fri</div>
                        <div class=" text-right col-sm-3">18:00 - late</div>
                     </div>
                    <div>
                        <div class=" col-sm-9">Sat</div>
                        <div class=" text-right col-sm-3">17:30 - late</div>
                    </div>
                    <div>
                        <div class=" col-sm-9">San</div>
                        <div class=" col-sm-3 text-right">Closed</div>
                     </div>
    
                    <p class="contact_footer">CONTACT</p>
                    <p>
                        01234 658890
                     </p>
                    <p>
                        info@storm.co.uk
                    </p>
                    <p>
                        16 High Street, Poole, Dorset, BH15 1BP
                     </p>
    
                </div>
            </div>
            <div class="col-sm-6 footer_right">
                <div class="col-sm-8 col-sm-offset-2">
                    <p class="text-uppercase" >That unbridled mumbled up lantern absently when fluent honey dalmatian dear dreamed less walrus the much goodness erratic jeez yikes condescending.</p>
                </div>
            </div>
            
        </div>
    </div> -->
</footer>