{% if this.theme.menu_enabled %}
<li data-menuanchor="third-section">
    <a class="page-scroll"  href="#third-section">MENU</a>
</li>
{% endif %}
{% if this.theme.menu_enabled %}
<li data-menuanchor="fourth-section" >
    <a class="page-scroll" href="#fourth-section">GALLERY</a>
</li>
{% endif %}
{% if this.theme.reviews_enabled %}
<li  data-menuanchor="five-section" >
    <a class="page-scroll" href="#five-section">REVIEWS</a>
</li>
{% endif %}
{% if this.theme.reviews_enabled %}
<li  data-menuanchor="six-section">
    <a class="page-scroll" href="#six-section">INSTAGRAM</a>
</li>
{% endif %}
{% if this.theme.booking_enabled %}
<li data-menuanchor="seven-section">
    <a class="page-scroll"  href="#seven-section">BOOKING</a>
</li>
{% endif %}


