{% if this.theme.menu_enabled %}
<li data-menuanchor="third-section">
    <a class="page-scroll"  href="#menu">MENU</a>
</li>
{% endif %}
{% if this.theme.menu_enabled %}
<li data-menuanchor="fourth-section" >
    <a class="page-scroll" href="#gallery">GALLERY</a>
</li>
{% endif %}
{% if this.theme.reviews_enabled %}
<li  data-menuanchor="five-section" >
    <a class="page-scroll" href="#reviews">REVIEWS</a>
</li>
{% endif %}
{% if this.theme.reviews_enabled %}
<li  data-menuanchor="six-section">
    <a class="page-scroll" href="#instagram">INSTAGRAM</a>
</li>
{% endif %}
{% if this.theme.booking_enabled %}
<li data-menuanchor="seven-section">
    <a class="page-scroll"  href="#booking">BOOKING</a>
</li>
{% endif %}
