<!--<nav-->
    <!--id="mainNav"-->
    <!--class="navbar {{ this.theme.menu_transparent ? 'navbar-default' : 'navbar-inverse' }} "-->
<!--&gt;-->
    <!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="navbar-header">&ndash;&gt;-->
            <!--&lt;!&ndash;<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="navbar-brand page-scroll" href="#page-top">{{ this.theme.site_title }}</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--&lt;!&ndash;<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">&ndash;&gt;-->
            <!--&lt;!&ndash;<ul class="nav navbar-nav ">&ndash;&gt;-->
                <!--&lt;!&ndash;{% partial 'modules/nav-items.htm' %}&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->

        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="navbar-header navbar-right">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="themes/vojtasvoboda-newage/assets/images/social1.png" alt="X">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->


    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--<div class="container">-->
            <!--<div class="col-sm-3 img-left">-->
                <!--<a class="navbar-brand page-scroll" href="#page-top">{{ this.theme.site_title }}</a>-->
            <!--</div>-->



        <!--<div class="collapse navbar-collapse col-sm-8" id="bs-example-navbar-collapse-1">-->
            <ul class="nav navbar-nav " id="mainNav">
                {% partial 'modules/nav-items.htm' %}
            </ul>

        <!--</div>-->
        <!--<div class="col-sm-1 img-right">-->
            <!--<img src="themes/vojtasvoboda-newage/assets/images/social1.png" alt="X">-->
        <!--</div>-->


    <!--</div>-->

<!--</nav>-->
