

<!--&lt;!&ndash;<nav&ndash;&gt;-->
        <!--&lt;!&ndash;id="mainNav"&ndash;&gt;-->
        <!--&lt;!&ndash;class="navbar {{ this.theme.menu_transparent ? 'navbar-default' : 'navbar-inverse' }}  header-oi headhesive&#45;&#45;clone "&ndash;&gt;-->
<!--&lt;!&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="navbar-header">&ndash;&gt;-->
            <!--&lt;!&ndash;<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="navbar-brand page-scroll" href="#page-top">{{ this.theme.site_title }}</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--&lt;!&ndash;<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">&ndash;&gt;-->
            <!--&lt;!&ndash;<ul class="nav navbar-nav navbar-right">&ndash;&gt;-->
                <!--&lt;!&ndash;{% partial 'modules/nav-items.htm' %}&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</nav>&ndash;&gt;-->



<!--<nav-->
<!--id="mainNav"-->
<!--class="navbar {{ this.theme.menu_transparent ? 'navbar-default' : 'navbar-inverse' }} header-oi headhesive&#45;&#45;clone"-->
<!--&gt;-->
<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="navbar-header">&ndash;&gt;-->
<!--&lt;!&ndash;<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->
<!--&lt;!&ndash;<a class="navbar-brand page-scroll" href="#page-top">{{ this.theme.site_title }}</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">&ndash;&gt;-->
<!--&lt;!&ndash;<ul class="nav navbar-nav ">&ndash;&gt;-->
<!--&lt;!&ndash;{% partial 'modules/nav-items.htm' %}&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="navbar-header navbar-right">&ndash;&gt;-->
<!--&lt;!&ndash;<img src="themes/vojtasvoboda-newage/assets/images/social1.png" alt="X">&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="container">-->
<!--<div class="col-sm-3 img-left">-->
<!--<a class="navbar-brand page-scroll" href="#first-section">{{ this.theme.site_title }}</a>-->
<!--</div>-->



<!--<div class="collapse navbar-collapse col-sm-7" id="bs-example-navbar-collapse-1">-->
<!--<ul class="nav navbar-nav " >-->
<!--{% partial 'modules/nav-items.htm' %}-->
<!--</ul>-->

<!--</div>-->
<!--<div class="col-sm-2 text-right img-right">-->
    <!--<i class="fa fa-twitter" aria-hidden="true"></i>-->
    <!--<i class="fa fa-facebook" aria-hidden="true"></i>-->
    <!--<i class="fa fa-instagram" aria-hidden="true"></i>-->
<!--</div>-->


<!--</div>-->

<!--</nav>-->



<!--<nav-->
<!--id="mainNav"-->
<!--class="navbar {{ this.theme.menu_transparent ? 'navbar-default' : 'navbar-inverse' }}  header-oi headhesive&#45;&#45;clone "-->
<!--&gt;-->
<!--<div class="container">-->
<!--<div class="navbar-header">-->
<!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
<!--<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>-->
<!--</button>-->
<!--<a class="navbar-brand page-scroll" href="#page-top">{{ this.theme.site_title }}</a>-->
<!--</div>-->

<!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
<!--<ul class="nav navbar-nav navbar-right">-->
<!--{% partial 'modules/nav-items.htm' %}-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->



<nav
        id="mainNav"
        class="navbar {{ this.theme.menu_transparent ? 'navbar-default' : 'navbar-inverse' }} header-oi headhesive--clone"
>
    <!--<div class="container">-->
    <!--<div class="navbar-header">-->
    <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
    <!--<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>-->
    <!--</button>-->
    <!--<a class="navbar-brand page-scroll" href="#page-top">{{ this.theme.site_title }}</a>-->
    <!--</div>-->

    <!--<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">-->
    <!--<ul class="nav navbar-nav ">-->
    <!--{% partial 'modules/nav-items.htm' %}-->
    <!--</ul>-->

    <!--</div>-->
    <!--<div class="navbar-header navbar-right">-->
    <!--<img src="themes/vojtasvoboda-newage/assets/images/social1.png" alt="X">-->
    <!--</div>-->


    <!--</div>-->

    <div class="container">
        <div class="col-sm-3 img-left">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed col-xs-2 text-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="custom_name_nav col-xs-8">
                    <a class="navbar-brand page-scroll" href="#first-section">{{ this.theme.site_title }}</a>
                </div>

            </div>
        </div>



        <div class="collapse navbar-collapse col-sm-7" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav " >
                {% partial 'modules/nav-items.htm' %}
            </ul>

        </div>
        <div class="col-sm-2 text-right img-right hidden-xs hidden-sm">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>


    </div>

</nav>

