<div id="download" class="download bg-primary text-center section" data-anchor="second-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 vline"></div>
            <div class="text-center col-sm-6 col-sm-offset-3  pete_text">
                <p>{{ this.theme.download_headline | raw }}</p>

            </div>
            <div class="text-center x col-sm-6 col-sm-offset-3"><img
                    src="themes/vojtasvoboda-newage/assets/images/x.png" alt="X"></div>
            <div class="text-center pete_text1 col-sm-6 col-sm-offset-3 ">
                <p>{{ this.theme.download_content | raw }}</p>
            </div>

        </div>
    </div>
</div>
