<div id="download" class="download bg-primary text-center section" data-anchor="second-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 vline"></div>
            <div class="text-center col-sm-6 col-sm-offset-3  pete_text">
                <p>Pete and Frances ensure
                    that Storm’s menu changes 
                    daily, according to
                     the fresh fish and produce
                    available locally.</p>

            </div>
            <div class="text-center x col-sm-6 col-sm-offset-3"><img
                    src="themes/vojtasvoboda-newage/assets/images/x.png" alt="X"></div>
            <div class="text-center pete_text1 col-sm-6 col-sm-offset-3 ">
                <p>Our aim is to use the best of the season’s local produce to steer the menu and wherever possible get
                    people to try fish that they would not normally choose. We use fish that is abundant and sustainable
                    and try to use as much organic and if possible market-garden grown vegetables as we can.</p>
            </div>

        </div>
    </div>
</div>
