<div id="instagram" class="section instagram bg-primary text-center" data-anchor="six-section">
    <div class="container">
        <div class="row">
            <div class="rotate">FOLLOW US  @INSTAHANDLE</div>
            <div class="col-md-8 col-md-offset-2 insta">
                {% for photo in this.theme.photos %}
                <div class="col-sm-4  col-xs-6  image_insta">
                    <img src="{{photo.src}}" alt="X" width="250" height="250">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>