<header>
    <div class="container">
        <div class="row">
            <div class="wrapper text1">
                <div>16 HIGH ST, POOLE, BH15 1BP | 01202 674970</div>
            </div>
            <div class="wrapper">

                <div class="col-sm-4">
                    <p>HIGH TIDE</p>
                    <p>08:51, 1.89m</p>
                    <img src="themes/vojtasvoboda-newage/assets/images/x.png" alt="X">
                </div>

                <div class="col-sm-4">
                    <p>LOCATION</p>
                    <p>Poole, Dorset</p>
                    <img src="themes/vojtasvoboda-newage/assets/images/x.png" alt="X">
                </div>
                <div class="col-sm-4">
                    <p>LOW TIDE</p>
                    <p>12:39, 1.36m</p>
                    <img src="themes/vojtasvoboda-newage/assets/images/x.png" alt="X">
                </div>
            </div>
            <div class="wrapper">
                <div class="header_title">
                    <p>STORM</p>
                </div>
            </div>

            <div class="header_text_1">
                <p>POOLE’S FINEST</p>
                <p> FISH RESTUARANT</p>
            </div>
            <div class="wrapper">
                <div class="header_button">SEE TODAY’S MENU</div>
            </div>
            <div class="col-sm-6 vline"></div>
        </div>

    </div>
</header>
