<section id="menu" class="menu">
    <div class="container">
        <div class="row">
            <div class="text-center text1">
                <div>16 HIGH ST, POOLE, BH15 1BP | 01202 674970</div>
            </div>
            <div class="header_title text-center">
                <p>TODAY’S MENU</p>
            </div>
            <div class="text-center pete_text1 col-sm-6 col-sm-offset-3 ">
                <p>That unbridled mumbled up lantern absently fluent  honey dalmatian dear dreamed less walrus the much
                    goodness erratic jeez that yikes wrung acrimoniously condescending.</p>
            </div>
            <div class="text-center col-sm-4 col-sm-offset-4 text1">
                <div>STARTERS</div>
                <img src="themes/vojtasvoboda-newage/assets/images/xx.png" alt="X">
            </div>
            <div class="text-center f_blocks col-sm-10 col-sm-offset-1">
                <div class="col-sm-5 pad col-sm-offset-1">
                    <p class="text-center">- £8 -</p>
                    <p class="text-center title_f">TUNA AND SWORDFISH CAKES</p>
                    <p class="text-center">Curabitur non urna ut neque rutrum malesuada. Donec id augue vulputate,
                        vestibulum odio.</p>
                </div>

                <div class="col-sm-5 pad">
                    <p class="text-center">- £8 -</p>
                    <p class="text-center title_f">TUNA AND SWORDFISH CAKES</p>
                    <p class="text-center">Curabitur non urna ut neque rutrum malesuada. Donec id augue vulputate,
                        vestibulum odio.</p>
                </div>

                <div class="col-sm-5 pad col-sm-offset-1">
                    <p class="text-center">- £8 -</p>
                    <p class="text-center title_f">TUNA AND SWORDFISH CAKES</p>
                    <p class="text-center">Curabitur non urna ut neque rutrum malesuada. Donec id augue vulputate,
                        vestibulum odio.</p>
                </div>

                <div class="col-sm-5 pad">
                    <p class="text-center">- £8 -</p>
                    <p class="text-center title_f">TUNA AND SWORDFISH CAKES</p>
                    <p class="text-center">Curabitur non urna ut neque rutrum malesuada. Donec id augue vulputate,
                        vestibulum odio.</p>
                </div>
            </div>
            <div class="text-center col-sm-2 col-sm-offset-5  text1 ">
                <div>MAINS</div>
                <img src="themes/vojtasvoboda-newage/assets/images/xx.png" alt="X">
            </div>
            <div class="text-center f_blocks col-sm-10 col-sm-offset-1">
                <div class="col-sm-5 pad col-sm-offset-1">
                    <p class="text-center">- £8 -</p>
                    <p class="text-center title_f">TUNA AND SWORDFISH CAKES</p>
                    <p class="text-center">Curabitur non urna ut neque rutrum malesuada. Donec id augue vulputate,
                        vestibulum odio.</p>
                </div>

                <div class="col-sm-5 pad">
                    <p class="text-center">- £8 -</p>
                    <p class="text-center title_f">TUNA AND SWORDFISH CAKES</p>
                    <p class="text-center">Curabitur non urna ut neque rutrum malesuada. Donec id augue vulputate,
                        vestibulum odio.</p>
                </div>

                <div class="col-sm-5 pad col-sm-offset-1">
                    <p class="text-center">- £8 -</p>
                    <p class="text-center title_f">TUNA AND SWORDFISH CAKES</p>
                    <p class="text-center">Curabitur non urna ut neque rutrum malesuada. Donec id augue vulputate,
                        vestibulum odio.</p>
                </div>

                <div class="col-sm-5 pad">
                    <p class="text-center">- £8 -</p>
                    <p class="text-center title_f">TUNA AND SWORDFISH CAKES</p>
                    <p class="text-center">Curabitur non urna ut neque rutrum malesuada. Donec id augue vulputate,
                        vestibulum odio.</p>
                </div>
            </div>
            <div class="text-center border col-sm-10 col-sm-offset-1">
                <div class="col-sm-6 pad col-sm-offset-3">
                    <p class="text-center">- £8 -</p>
                    <p class="text-center title_f">TUNA AND SWORDFISH CAKES</p>
                    <p class="text-center">Curabitur non urna ut neque rutrum malesuada. Donec id augue vulputate,
                        vestibulum odio.</p>
                </div>
            </div>
            <div class="text-center col-sm-2 col-sm-offset-5  text1 ">
                <div>DESSERTS</div>
                <img src="themes/vojtasvoboda-newage/assets/images/xx.png" alt="X">
            </div>
            <div class="text-center f_blocks col-sm-10 col-sm-offset-1">
                <div class="col-sm-5 pad col-sm-offset-1">
                    <p class="text-center">- £8 -</p>
                    <p class="text-center title_f">TUNA AND SWORDFISH CAKES</p>
                    <p class="text-center">Curabitur non urna ut neque rutrum malesuada. Donec id augue vulputate,
                        vestibulum odio.</p>
                </div>

                <div class="col-sm-5 pad">
                    <p class="text-center">- £8 -</p>
                    <p class="text-center title_f">TUNA AND SWORDFISH CAKES</p>
                    <p class="text-center">Curabitur non urna ut neque rutrum malesuada. Donec id augue vulputate,
                        vestibulum odio.</p>
                </div>

                <div class="col-sm-5 pad col-sm-offset-1">
                    <p class="text-center">- £8 -</p>
                    <p class="text-center title_f">TUNA AND SWORDFISH CAKES</p>
                    <p class="text-center">Curabitur non urna ut neque rutrum malesuada. Donec id augue vulputate,
                        vestibulum odio.</p>
                </div>

                <div class="col-sm-5 pad">
                    <p class="text-center">- £8 -</p>
                    <p class="text-center title_f">TUNA AND SWORDFISH CAKES</p>
                    <p class="text-center">Curabitur non urna ut neque rutrum malesuada. Donec id augue vulputate,
                        vestibulum odio.</p>
                </div>
            </div>
            <div class="col-sm-6 vline">

            </div>


        </div>
</section>
