<section id="reviews" class="reviews bg-primary">
    <div class="container">
        <div class="rotate hidden-sm hidden-xs"><span> REVIEWS</span><br/><span> FROM TRIPADVISOR</span></div>
        <div class="text-center col-sm-2 col-sm-offset-5">
            <p class="kav">“</p>
        </div>
        <div class="text-center text1 col-sm-8 col-sm-offset-2  ">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non tempus magna, id lacinia massa. Ut
                laoreet ac tellus pretium eleifend. Aliquam et rutrum enim ullamcorper malesuada ex.</p>
        </div>
        <div class="text-center text2 col-sm-2 col-sm-offset-5  ">
            <p>JO DA SILVA</p>
            <p>21st November 2016</p>

        </div>
    </div>
</section>
