<section id="reviews" class="reviews bg-primary">
    <div class=" container">
        <div class="rotate hidden-sm hidden-xs"><span> REVIEWS</span><br/><span> FROM TRIPADVISOR</span></div>


        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <!--<ol class="carousel-indicators">-->
                <!--<li data-target="#myCarousel" data-slide-to="0" class="active">k;</li>-->
                <!--<li data-target="#myCarousel" data-slide-to="1">1</li>-->
                <!--<li data-target="#myCarousel" data-slide-to="2">2</li>-->
                <!--<li data-target="#myCarousel" data-slide-to="3">3</li>-->
            <!--</ol>-->

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="text-center col-sm-2 col-sm-offset-5 kav" >
                    <img src="themes/vojtasvoboda-newage/assets/images/slice-4.png" alt="X">
                    </div>

                    <div class="text-center text1 col-sm-8 col-sm-offset-2  ">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non tempus magna, id lacinia massa. Ut
                            laoreet ac tellus pretium eleifend. Aliquam et rutrum enim ullamcorper malesuada ex.</p>
                    </div>
                    <div class="text-center text2 col-sm-4 col-sm-offset-4  ">
                        <p>JO DA SILVA</p>
                        <p>21st November 2016</p>

                    </div>
                </div>

                <div class="item">
                    <div class="text-center col-sm-2 col-sm-offset-5 kav">
                        <img src="themes/vojtasvoboda-newage/assets/images/slice-4.png" alt="X">
                    </div>

                    <div class="text-center text1 col-sm-8 col-sm-offset-2  ">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non tempus magna, id lacinia massa. Ut
                            laoreet ac tellus pretium eleifend. Aliquam et rutrum enim ullamcorper malesuada ex.</p>
                    </div>
                    <div class="text-center text2 col-sm-4 col-sm-offset-4  ">
                        <p>JO DA SILVA</p>
                        <p>21st November 2016</p>

                    </div>
                </div>

                <div class="item">
                    <div class="text-center col-sm-2 col-sm-offset-5 kav">
                        <img src="themes/vojtasvoboda-newage/assets/images/slice-4.png" alt="X">
                    </div>

                    <div class="text-center text1 col-sm-8 col-sm-offset-2  ">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non tempus magna, id lacinia massa. Ut
                            laoreet ac tellus pretium eleifend. Aliquam et rutrum enim ullamcorper malesuada ex.</p>
                    </div>
                    <div class="text-center text2 col-sm-4 col-sm-offset-4  ">
                        <p>JO DA SILVA</p>
                        <p>21st November 2016</p>

                    </div>
                </div>

                <div class="item">
                    <div class="text-center col-sm-2 col-sm-offset-5 kav">
                        <img src="themes/vojtasvoboda-newage/assets/images/slice-4.png" alt="X">
                    </div>

                    <div class="text-center text1 col-sm-8 col-sm-offset-2  ">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non tempus magna, id lacinia massa. Ut
                            laoreet ac tellus pretium eleifend. Aliquam et rutrum enim ullamcorper malesuada ex.</p>
                    </div>
                    <div class="text-center text2 col-sm-4 col-sm-offset-4  ">
                        <p>JO DA SILVA</p>
                        <p>21st November 2016</p>

                    </div>
                </div>
            </div>
            <div class="nav col-sm-8  col-sm-offset-2">

                <div id="carousel-index" class="text_slider col-sm-6 text-left" ></div>
                <div class="nav_slider col-sm-6 text-right" >
                    <!-- Left and right controls -->
                    <a class="left" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>

                    <a class="right" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>


            <div class="col-sm-6 vline"></div>
        </div>



    </div>
</section>
